@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root
{
    --main-color:  #3532d9;
    --text-color:#020102;
    --bg-color:#fff;
}

html::-webkit-scrollbar
{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb
{
    border-radius: 5rem;
    background: var(--text-color);
}

section
{
    padding: 4rem 0 2rem;
    z-index: -1;
}
img
{
    width: 100%;

}
body{
    color:var(--text-color);
    height: 300rem;

}
.container
{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}


header
{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
   
}

.header.shadow
{
    background:var(--bg-color);
    box-shadow: 2px 4px 20px rgb(15 54 55/10% );
    transition: 0.5s;
}
.header.active
{
   
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

.nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}


#menu-icon
{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none; 
}

.logo
{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.logo span{
    color: var(--main-color);

}

.navbar
{
    display: flex;
    column-gap: 2rem;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover, .navbar .active

{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon
{
    font-size: 24px;
    cursor: pointer;
    
}

.search-box
{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55/10% );
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}

.search-box input{
    width: 100%;
    padding: 20px;
    border:none ;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.home
{
    max-width: 100%;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(images/Bg-home.png);
    background-repeat:no-repeat ;
    background-size:cover ;
    background-position: center left;
}

.home .home-text
{
    width: 25rem;
    margin-left: 10px;
}
.home-text h1{
    font-size: 2.4rem;
}

.home-text span{
    color: var(--main-color);
}

.home-text p{
    font-size: 0.9p38rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}

.btn
{
    padding:5px 22px ;
    background:var(--main-color) ;
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover
{
    background: var(--main-color);
    color:#020102;
}

.heading
{
    text-align: center; 
}

.heading span{
    font-weight: 500;
    color:var(--main-color)
}
.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}
.cars-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
   
}
.cars-container .box img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.cars-container .box img:hover
{
    transform: scale(1.1);
    transition: 0.5s;
}

.cars-container .box h2{
    position: absolute;
    bottom:1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-color);
    padding: 8px;
    border-radius:0.5rem ;
}

.about .row
{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}


.about .row .video-container
{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:70% ;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem ;
    box-shadow: 0.5rem 1 rem rgb(0,0,0,.1);
    height: 100%;
    object-fit: cover;
    padding-left: 100px;
}

.about .row .about-text
{
    flex: 1 1 40rem;
}

.about .row .about-text span
{
    font-size: 3rem;
    color: var(--main-color);
}

.about .row .about-text p
{
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0.5rem 0;
    line-height: 1.5;
}

.teach-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.teach-container .box
{
    flex: 1 1 17rem;
    position: relative;
    padding: 20PX;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius:0.5rem ;
}

.teach-container .box img{
    width: 100%;
    height: 100%px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}

.teach-container .box h3{
    font-size: 1.1.rem;
    font-weight: 600;

}
.teach-container .box .bx
{
    color: var(--main-color);
    margin: 0.8rem 0;
}

.teach-container .box .btn{
    max-width: 140px;
}

.teach-container .box .btn:hover
{
    color: var(--text-color);
    text-decoration: underline;
    background: var(--bg-color);
    transition: 0.5s;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
}

.contact .row .map{
    flex: 1 1 42rem;
    width: 100%;
}

.contact .row form{
    flex: 1 1 42rem;
    padding: 2rem;
    text-align: center;
    background: #222;
}

.contact .row form h3{
    font-size: 2rem;
    padding-bottom: 1rem;
    color:var(--main-color);

}

.contact .row form .box{
    width: 90%;
    padding: 1rem 1.2rem;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    text-transform: none;
    margin: .7rem 0;
}

.contact .row form .btn{
    transition: 0.4s;
    color: #fff;
    border-radius: .5rem;
    background-color: var(--main-color);

}
.contact .row form .btn:hover{
    color: #fff;
    background-color: rgb(121, 121, 255);
}

.contact .row form textarea{
    height: 10rem;
    resize: none;
}

.coppyright
{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}

@media (max-width:1080px)
{
    .container
    {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width:991px)
{
    .nav{
        padding: 15px 20px;
    }
    .section
    {
        padding: 3rem 0 1rem;
    }

    .home-text
    {
        padding-left: 2rem;
    }
    .home-text h1
    {
        font-size: 2.1rem;
    }
}

@media (max-width:920px)
{
    #search-icon
    {
        color: var(--text-color);
    }
}

@media (max-width:768px)
{
    .search-box input{
        padding: 15px;
    }
    .nav{
        padding: 10px 0;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20% );
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s;
    }
    .navbar a{
        display: block;
        padding: 15px;
    }
    .navbar a:hover,
    .navbar .active {
        border-bottom: none;
        background: var(--main-color);
        color: var(--text-color);
    }

    .navbar.active{
        clip-path: circle(144% at 0% 0%);
    }
}

@media(max-width:727px)
{
    .heading span{
        font-size: 0.9rem;
    }
    .heading h2{
        font-size: 1.4rem;
    }
    .about
    {
        flex-direction: column-reverse;
    }

    .about-text{
        align-items: center;
    }

    .about-text h2{
        font-size: 1.4rem;
    }
}

@media(max-width:607px)
{
    .contact-container
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:360px)
{
    .search-box input{
        padding: 11px;
    }
    .home
    {
        min-height: 500px;
    }

    .home-text h1{
        font-size: 2rem;
    }

    .home-text p br{
        display: contents;
    }
}